{
  "extends": "eslint:recommended",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "commonjs": true
  },
  "parser": "babel-eslint"
}
